
<nav class="navbar navbar-expand bg-light nav-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/mapview"  routerLinkActive="active" class="nav-link">TableView</a>
    </li>
    <li class="nav-item">
      <a routerLink="/geomap" routerLinkActive="active" class="nav-link">GeoMapview</a>
    </li>
    <li class="nav-item">
      <a routerLink="/details" routerLinkActive="active" class="nav-link">UserDetail</a>
    </li>
    <li class="nav-item">
      <a routerLink="/mattable"  routerLinkActive="active" class="nav-link">MatTableView</a>
    </li>
  </ul>
</nav>
